<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop">
        
        {{#if emptyMessage }}
        <h4>{{emptyMessage}}<a href='/createpoll'>Create a Poll</a></h4>
        {{/if}}
        
        {{#each polls}}
        <div class="demo-card-wide mdl-card mdl-shadow--2dp" style="width: 100%; padding-left: 25px; padding-right: 25px; padding-top: 5px; padding-bottom: 25px;">
            <div class="mdl-card__title">
                <a href='/poll/{{this._id}}'><h2 class="mdl-card__title-text">{{this.question}}</h2></a>
            </div>
            
            <div class="mdl-card__supporting-text">
                <strong>Poll ID: </strong>{{this._id}}<br>
                <strong>Created: </strong>{{this.pollDate}}<br>
            </div>
            
            <div class="mdl-card__actions mdl-card--border">
                <a href="/deletepoll/{{this._id}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Delete
                </a>
            </div>
        </div>
        <br>
        {{/each}}
    </div>
</div>
