<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop">
        {{#if error}}
            <h3>{{error}}</h3>
        {{/if}}
        {{# if question}}
            <h3>{{question}}</h3>
        {{#if voteMessage}}
            <h4>{{voteMessage}}</h4>
        {{/if}}
        <strong>Poll ID: </strong>{{pollId}}<br>
        <strong>Created: </strong>{{pollDate}}<br>
        <strong>By: </strong>{{user}}<br>
        <hr>
        <h5>{{question}}</h5>
<style>
.demo-list-control {
  width: 300px;
}

.demo-list-radio {
  display: inline;
}
</style>

        {{#if userFound}}
            {{#if hasVoted}}
                <ul class="mdl-list">
                  {{#each responses}}
                  <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                      {{this}}
                    </span>
                  </li>
                  {{/each}}
                </ul>
            {{else}}
                <form method="POST" action="/vote">
                    <ul class="demo-list-control mdl-list">
                    {{#each responses}}
        
                        <li class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                {{this}}
                            </span>
                            <span class="mdl-list__item-secondary-action">
                                <label class="demo-list-radio mdl-radio mdl-js-radio mdl-js-ripple-effect" for="list-option-{{this}}">
                                    <input type="radio" id="list-option-{{this}}" class="mdl-radio__button" name="response" value="{{this}}" checked />
                                </label>
                            </span>
                        </li>
        
        
                    {{/each}}
                </ul>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Submit</button>
            {{/if}}
        {{else}}
            
            
            <ul class="mdl-list">
              {{#each responses}}
              <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                  {{this}}
                </span>
              </li>
              {{/each}}
            </ul>
            
            <a href="/signup">Sign up</a> or <a href="/login">Log in</a> to vote
        {{/if}}
        
        <input type="hidden" name="pollId" value="{{pollId}}">
        
        
        
        </form>
        {{/if}}
        <input type="hidden" name="hdnDataArr" id="hdnDataArr" value="{{dataArr}}">
        <input type="hidden" name="hdnLabelArr" id="hdnLabelArr" value="{{responses}}">
        
        <canvas id="myChart" width="600px" height="300px"></canvas>
                    
        <script>
    
            $(document).ready(function(){
        
            var dataArr = [];
            var labelsArr = [];
          
            dataArr = $("#hdnDataArr").val().split(',');
            labelsArr = $("#hdnLabelArr").val().split(',');
                
            var voteBgColor = [];
            var voteBorderColor = [];
        
            for(var i=0; i<dataArr.length; i++){
                voteBgColor.push('rgba(54, 162, 235, 0.7)');
                voteBorderColor.push('rgba(54, 162, 235, 1)');
            }
        
        
        
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labelsArr,
                    datasets: [
                {
                    label: 'Votes',
                    data: dataArr,
                    backgroundColor: voteBgColor,
                    borderColor: voteBorderColor,
                    borderWidth: 1
                }],
        
                },
                options: {
                    title: {
                        display: true,
                        text: '{{question}}',
                        fontFamily: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif",
                        fontSize: 24,
                        fontColor: '#000000'
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
        });
        </script>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </div>
</div>
